@font-face {
    font-family: 'LatoBlack';
    src: url('/assets/fonts/lato/Lato-Black.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'LatoBlackItalic';
    src: url('/assets/fonts/lato/Lato-BlackItalic.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'LatoBold';
    src: url('/assets/fonts/lato/Lato-Bold.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'LatoBoldItalic';
    src: url('/assets/fonts/lato/Lato-BoldItalic.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'LatoHairline';
    src: url('/assets/fonts/lato/Lato-Hairline.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'LatoHairlineItalic';
    src: url('/assets/fonts/lato/Lato-HairlineItalic.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'LatoHeavy';
    src: url('/assets/fonts/lato/Lato-Heavy.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'LatoHeavyItalic';
    src: url('/assets/fonts/lato/Lato-HeavyItalic.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'LatoItalic';
    src: url('/assets/fonts/lato/Lato-Italic.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'LatoLight';
    src: url('/assets/fonts/lato/Lato-Light.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'LatoLightItalic';
    src: url('/assets/fonts/lato/Lato-LightItalic.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'LatoThinItalic';
    src: url('/assets/fonts/lato/Lato-ThinItalic.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'LatoRegular';
    src: url('/assets/fonts/lato/lato-regular.ttf') format('truetype');
    font-style: normal;
}


@font-face {
    font-family: 'LatoSemiBold';
    src: url('/assets/fonts/lato/Lato-Semibold.ttf') format('truetype');
    font-style: normal;
}
