.nvc-modalVideos{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3050;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    &__videos{
    	height: 80%;
    	width: 80%;

    }
    &__dialog{
    	position: relative;
    	margin: 10px;
        margin: 30px auto;
    }
    &__content{
        background-color: rgba(255, 255, 255, 0);
        border: none;
	    padding: 15px;
	    border-top: transparent !important;
	    margin: -1px !important;
	    box-shadow: none !important;
	    border-bottom-left-radius: 8px;
	    border-bottom-right-radius: 8px;
        .col-video{
            position: absolute;
            top: 15px;
            width: 100%;
            iframe {
                margin: 0;
                padding: 0;
                height: 90vh;
            }
        }
    }
}
.nvc-row{
	margin-left: -10px;
    margin-right: -10px;

}
.am-fade{
    background-color: rgba(0, 0, 0, 0.72);
	-webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
    opacity: 1;
}