<div id="modal-videos.tpl" type="text/ng-template">
  <div class="nvc-modalVideos am-fade" tabindex="-1" role="dialog">
    <div class="nvc-modalVideos__dialog nvc-modalVideos__videos">
        <div class="nvc-modalVideos__content modal-content">
          <div  class="nvc-row post-body entry-content" oncontextmenu='return false' ondragstart='return false' onmousedown='return false' onselectstart='return false'>
            <div class="col-video mx-auto text-center" *ngIf="urlVideo===1">
               <iframe width="100%" src="https://www.youtube.com/embed/kX3ahfJ1w3s?rel=0&controls=0&showinfo=0&html5=1&allowfullscreen=true&wmode=transparent&yt:crop=16:9&autoplay=1" frameborder="0" allowfullscreen></iframe>
                  </div>
                  <div class="col-video mx-auto text-center" *ngIf="urlVideo===2">
                      <iframe width="100%" src="https://www.youtube.com/embed/qO0-QdkPHQA?rel=0&controls=0&showinfo=0&html5=1&allowfullscreen=true&wmode=transparent&yt:crop=16:9&autoplay=1" frameborder="0" allowfullscreen></iframe>
                  </div>
                  <div class="col-video mx-auto text-center" *ngIf="urlVideo===3">
                      <iframe width="100%" src="https://www.youtube.com/embed/L6gcjAEY-cc?rel=0&controls=0&showinfo=0&html5=1&allowfullscreen=true&wmode=transparent&yt:crop=16:9&autoplay=1" frameborder="0" allowfullscreen></iframe>
                  </div>
          </div>
        </div>
    </div>
  </div>
</div>