.nvc-carousel{
	height: 70vh;
	&__home{
	height: 100%;
		&--youtube{
			position: absolute;
			bottom: 22%;
			left: 45%;
			h3{
				a{
					color: #fff;
					font-size: 15px;
					font-family: LatoLight;
					text-decoration: none;
					img{
	    				margin-left: 5px;
						width: 20px;
					}
				}
			}
		}
	}
	&__HomeVideo{
		overflow: hidden;
		height: 70vh;
		video{
			background-color: #ccc;
    		width: 100%;
		}
	}
	&__HomeBackground{
		height: 70vh;
		img{
			background-size: cover;
			height: 100%;
		}

	}
	&__serachdHome{
		position: absolute;
	    bottom: 50%;
	    transform: translateY(50px);
	    width: 100%;
	    z-index: 10;
	}
}
.nvc-offers{
	background-image: url(/assets/img/Home/destinies/oferts.jpg);
    background-position: center;
    background-size: cover;
    margin-top: -4px;
    height: auto;
    padding-bottom: 50px;
    &__global{
    	&--text-content{
    		h2{
			    color: #fff;
				font-family: LatoLight;
			    font-size: 16px;
			    text-align: center;
			    margin-top: 0px;
    			padding-top: 30px;
    		}
	    	hr{
	    		border-bottom: 1px solid #fff;
			    margin-bottom: 10px;
			    margin-top: 10px;
			    text-align: center;
			    width: 20px;
	    	}
    	}
    	&--detail-one{
    		.photo-one{
    			a{
    				text-decoration: none;
	    			img{
		    			background-size: cover;
					    border-radius: 3px;
					    width: 100%;
	    			}
    			}
    			.photo-infor{
					margin-top: -60px;
					position: relative;
    				hr{
    					border-bottom: 1px solid #fff;
    					border-top: none;
					    margin-bottom: 5px;
					    margin-top: 5px;
					    width: 100%;
    				}
    				h3{
					    color: #fff;
					    font-size: 12px;
					    margin-bottom: 5px;
					    margin-left: 10px;
					    margin-top: 0px;
    					font-family: LatoBold;
    				}
    				h4{
					    color: #fff;
					    font-size: 12px;
					    margin-bottom: 5px;
					    margin-left: 10px;
					    margin-top: 0px;
    					font-family: LatoLight;
    				}
    			}
    		}
    	}
    }
}
.nvc-destinies{
	&__contexto{
		background-image: url(/assets/img/Home/destinies/destinos.jpg);
	    background-position: center;
	    background-size: cover;
	    margin-top: -1px;
	    height: 76px;
		h2{
    		font-family: LatoLight;
		    font-size: 16px;
		    color: #391860;
		    text-align: center;
		    margin-top: 0px;
		    padding-top: 30px;
		}
		hr{
			border-bottom: 1px solid #391860;
		    margin-bottom: 10px;
		    margin-top: 10px;
		    text-align: center;
		    width: 20px;
		}
	}
    
	&__contenedor{
		background-color: rgba(255, 255, 255, 0.4);
	    height: 224px;
        margin-top: -224px;
	    padding: 0;
	    position: absolute;
	    z-index: 500;
		&--etiq{
			background-color: #fff;
		    float: right;
		    margin-top: 5%;
		    padding: 20px 30px;
		    width: 75%;
			.ind1-text{
    			h2{
	    			font-family: LatoBlack;
				    font-size: 18px;
				    color: #783CBD;
	    		}
	    		h3{
	    			font-family: LatoLight;
				    font-size: 17px;
				    color: #783CBD;
	    		}
			}
			.carousel{
				h4{
	    			font-family: LatoBlack;
				    font-size: 17px;
				    color: #783CBD;
	    		}
				.legued{
					a{
						img{
						    padding-right: 15px;
						}
					}
				}
			}
		}
	}
    
    &__fade{
    	&--parallax{
    		.items{
    			background-position: center;
			    background-size: cover;
			    margin-top: -1px;
			    height: 224px;
			    .bg-slider{
			    	background-image: url(/assets/img/Home/destinies/roques.jpg);
			    	background-attachment: fixed;
			    	background-size: cover;
    				background-repeat: no-repeat;
    				height: 100%;
    				width: 100%;
			    }
    		}
    	}
    }
}
.nvc-videos{
	&__header{
		background-color: #391860;
	    margin-top: 0px;
	    height: 76px;
	    h2{
	    	font-family: LatoLight;
		    font-size: 16px;
		    color: #fff;
		    text-align: center;
		    margin-bottom: 0;
		    margin-top: 0px;
		    padding-top: 20px;
		    span{
		    	font-family: LatoItalic;
    			font-weight: 400;
    			font-style: italic;
		    }
	    }
	    img{
	    	width: 22px;
	    }
	}
	&__views-one{
		opacity: 0.7;
		&:hover{
	        opacity: 1;
	    }
		a{
			text-decoration: none;
			img{
				width: 100%;
			}
			.text-play{
				position: absolute;
				bottom: 0;
				img{
					cursor: pointer;
					margin-bottom: 10%;
				    width: auto;
				}
				h2{
				    color: #fff;
					font-family: LatoRegular;
				    font-size: 14px;
				    margin-bottom: 5px;
				    padding-left: 20px;
				    text-align: left;
				}
				h3{
					font-family: LatoLight;
				    font-size: 12px;
				    color: #fff;
				    margin-top: 0px;
				    padding-left: 20px;
				    text-align: left;
				}
			}
		}
	}
}
.nvc-container{
	margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 10px;
    width: 90%;
}