.nvc-destination{
    height: 200px;
    padding-bottom: 10px;
    padding-top: 30px;
    background-color: #F2EFF4;
    &__generaltags{
      height: 100px;
      &--nvc-tags{
        h4{
          color: #211238;
          font-family: LatoBold;
          font-size: 12px;
          margin-bottom: 0;
          img{
            vertical-align: baseline;
            margin-right: 5px;
            width: 15px;
          }
        }
        ul{
          display: inline-block;
          font-size: 12px;
          line-height: 0px;
          list-style: none;
          margin-top: 10px;
          padding-left: 0px;
          li{
            padding-right: 20px;
            a{
              color: #9E9E9E;
              font-family: LatoRegular;
              padding-left: 0;
              text-decoration: none;
            }
          }
        }
      }
    }
    &__generaltags:nth-child(1){
    }
    &__generaltags:nth-child(2){    
    }
    &__generaltags:nth-child(3){
    }
    &__generaltags:nth-child(5){
    }
    &__generaltags:nth-child(6){    
    }
  
  }
  .nvc-footer{
      background-color: #211238;
      &__top{
          padding-top: 25px;
          height: 200px;
          &--abouts{
              .contend-one{
                padding-bottom: 25px;
                img{
                  margin-right: 10px;
                  width: 15px;
                }
                  span{
                    color: #fff;
                    font-family: LatoBold;
                    font-size: 14px;
                  }
                  p{
                    color: #fff;
                    font-family: LatoLight;
                    font-size: 12px;
                  }
              }
              .contend-two{
                h3{
                    color: #fff;
                    font-family: LatoBold;
                    font-size: 12px;
                    margin-top: 5px;
                    margin-bottom: 0;
                }
                button{
                    background-color: #EDA900;
                    border-radius: 2px;
                    border: none;
                    color: #fff;
                    font-family: LatoBold;
                    font-size: 12px;
                    height: 25px;
                    line-height: 0.7;
                    margin-left: 5px;
                }
              }
          }
          &--address{
              .way-one{
                padding-bottom: 10px;
                  img:first-child{
                    margin-right:12px;
                  }
                  img{
                      width: 15px;
                  }
                  address{
                      color: #fff;
                      font-family: LatoLight;
                      font-size: 12px;
                      margin-bottom: 0;
                  }
              }
              hr{
                border-top: 1px solid #62269E;
                float: left;
                margin-bottom: 13px;
                width: 15%;
              }
              .way-two{
                  clear: both;
                  p{
                      color: #fff;
                      font-family: LatoLight;
                      font-size: 12px;
                  }
              }
          }
          &--blog{
            .list{
              padding-bottom: 15px;
                p{
                  color: #FFF;
                  font-family: LatoBold;
                  font-size: 12px;
                  img{
                    margin-right: 10px;
                    width: 15px;
                  }
                  a{
                    color: #FFF;
                    text-decoration: none;
                  }
                }
                ul{
                    color: #FFF;
                    font-family: LatoItalic;
                    font-size: 12px;
                    list-style: none;
                    padding-left: 0;
                    li{
                        span{
                          margin-right: 15px;
                        }
                        a{
                          color: #FFF;
                          text-decoration: none;
                        }
                    }
                }
            }
            .ssl{
              .imgsecutex{
                img{
                    cursor: pointer;
                    margin-right: 5px;
                    height: 20px;
                    width: auto;
                }
              }
              p{
                  color: #fff;
                  font-family: LatoLight;
                  font-size: 12px;
                  margin-bottom: 0px;
                  margin-top: 5px;
              }
            }
          }
          &--newsletter{
              .text-infor{
                  h2{
                    color: #FFF;
                    font-family: LatoBold;
                    font-size: 12px;
                  }
                  p{
                    font-family: LatoLight;
                    color: #fff;
                    font-size: 12px;
                  }
  
              }
              .suscribe-form{
                img{
                  bottom: 53px;
                  position: absolute;
                  width: 18px;
                }
                  input {
                    background-color: rgba(28, 9, 53, 0);
                    border: 1px solid rgba(28, 9, 53, 0);
                    border-radius: 0;
                    border-bottom: 1px solid #fff;
                    color: #fff;
                    padding-left: 25px;
                    font-size: 12px;
                    font-family: LatoLight;
                    margin-bottom: 5px;
                    height: 35px;
                    width: 200px;
                      &::placeholder{
                        color: #fff;
                        font-family: LatoLight;
                      }
                  }
                  button{
                      background-color: #EDA900;
                      border-radius: 2px;
                      border:none;
                      text-align: center;
                      color: #fff;
                      font-size: 12px;
                      float: left;
                      height: 25px;
                      line-height: 0.7;
                      width: 200px;
                  }
              }
          }
      }
      &__bottom{
          background-color: #391860;
          padding-top: 15px;
          padding-bottom: 10px;
          &--copyright{
            text-align: left;
              h5{
                  color: #C7ACE2;
                  font-family: LatoRegular;
                  font-size: 12px;
                  margin-left: 15px;
              }
          }
          &--all-right{
              h5{
                  font-family: LatoRegular;
                  font-size: 12px;
                  color: #C7ACE2;
              }
          }
          &--redes{
            text-align: right;
              img{
                margin-left: 10px;
                width: 18px;
              }
          }
      }
  }
  .nvc-container{
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 10px;
    width: 90%;
  }